section {
    fieldset {
        margin: 30px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        legend {
            font-family: 'Bangers', cursive;
            color: #2dd5a2;
            font-size: 40px;
        }
    }
}