legend {
    font-family: 'Bangers', cursive;
    color: #2dd5a2;
    font-size: 50px;
}

div {
       legend {
        font-family: 'Bangers', cursive;
        color: #2dd5a2;
        font-size: 40px;
       }
}

.principal {
    margin-left: 20px;
}